// Specific CSS for your home-page
.big-text {
  font-size: 3.5em;
}
.grey-wrapper {
  background-color: $mid-gray;
  color: white;
}
.white-wrapper {
  background-color: white;
}
#wrap {
  height: 88vh;
  background-color: rgba(0,0,0, 0.4);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
@media only screen and (max-width: 380px) {
  #wrap {
    align-items: initial;
  }
  #home-header.header-text {
    padding-top: 40px;
  }
}
@media only screen and (max-width: 480px) {
  #wrap {
    align-items: initial;
  }
  #home-header.header-text {
    padding-top: 80px;
  }
}
#image-cycler img {
  position: absolute;
  top: 153px; // was 100 before banner
  left: 0;
  display: none;
  width: 100%;
  height: 88vh;
  z-index: -1;
}

@media (max-width: 1000px) {
  #wrap img {
    top: 127px; // was 70 before banner
    left: 0;
  }
}
@media (max-width: 634px) { // delete this whole thing media tag when remove banner
  #wrap img {
    top: 147px; // was 70 before banner
    left: 0;
  }
}
@supports (object-fit: cover) {
  #wrap img {
    object-fit: cover;
  }
}
