<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
  <h4 class="modal-title" id="myModalLabel">Change Photo</h4>
</div>
<div class="modal-body">
  <%= render 'photo_form' %>
</div>
