<% content_for :meta_title, "Handpicked Lodges in and around Aviemore" %>
<% content_for :meta_description, "Great pet friendly lodges in the North with woodburners and sauna/hottub in Aviemore and the Cairngorms, sleeping 2,4,6 & 8" %>
<script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
<div class="container">
  <div class="row">
    <h1 class="text-center">Luxury Lodges in Aviemore and the Cairngorms</h1>
    <div class="col-xs-12">
      <p>Our lodges are all unique and characterful, but also wonderfully comfortable and welcoming. We want these handpicked holiday homes to truly be your home from home so we've made sure that they are fully equipped with everything you may need during your stay. They are all perfect for families, in convenient yet peaceful locations. Our lodges with wood-burning stoves also supply some logs for burning. They are all close to shops for everyday needs - but the Handpicked Lodges team are also at the end of the phone and only 15 minutes away should you ever need any further help or advice.</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="main-container">
    <div class="row">
      <div class="col-xs-12 col-md-4 tall" id="properties-sidebar">
          <div class="map-button">
            <div class="map-button-text">
              <p>Lodge locations <%= fa_icon "map-marker" %></p>
            </div>
          </div>
        <div class="properties-sidebar-content">
          <h4 class="text-center">Check availability for your handpicked lodge</h4>
          <%= render 'shared/availability-checker' %>
        </div>
      </div>
      <div class="col-xs-12 col-md-8">
        <div class="index-content-container">
          <div class="row">
            <div id="properties">
              <%= render 'properties' %>
            </div>
            <div id="spinner">
              <div class="spinner">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $("#properties-search").submit(function() {
      $.get($("#properties-search").attr("action"), $("#properties-search").serialize(), null, "script");
      return false;
    });
  });
</script>

