<div class="handpicked-footer">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <p>Judith: 07984 791 623</p>
      <p>Tanja: 07545 990 633</p>
      <p><a href="mailto:info@handpickedlodges.com">info@handpickedlodges.com</a></p>
    </div>
    <div class="col-xs-12 col-sm-6 text-right">
      <div class="fa-icons">
        <a href="https://www.facebook.com/HandpickedLodges/?ref=bookmarks" target="blank"><%= fa_icon "facebook" %></a>
        <a href="https://www.instagram.com/handpickedlodges/?hl=en" target="blank"><%= fa_icon "instagram" %></a>
      </div>
    </div>
  </div>
</div>
