<% content_for :meta_title, "Eat - Drink- Play - Relax - Shop in the Cairngorms" %>
<% content_for :meta_description, "Things to do in Aviemore and the Cairngorms" %>
<div class="banner">
  <div class="header-text">
    <h1>About the area</h1>
  </div>
</div>
<%= render 'shared/page-search' %>
