<% content_for :meta_title, "Who are the holiday home managers of Handpicked Lodges" %>
<% content_for :meta_description, "Handpicked, lodges, holiday , home, property, management, investment, returns, managing, agent, marketing" %>
<div class="banner">
  <div class="header-text">
    <h1>About us</h1>
  </div>
</div>
<%= render 'shared/page-search' %>
