<% content_for :meta_title, "Contact Handpicked Lodges" %>
<% content_for :meta_description, "Looking for a holiday home in or around Aviemore? Contact Handpicked Lodges" %>
<div class="banner">
  <div class="header-text">
    <h1>Contact</h1>
  </div>
</div>
<%= render 'shared/page-search' %>
