<% content_for :meta_title, "Frequently Asked Questions" %>
<% content_for :meta_description, "Frequently Asked Questions - Information for Handpicked Lodges guests" %>
<div class="banner">
  <div class="header-text">
    <h1>Frequently Asked Questions</h1>
  </div>
</div>
<%= render 'shared/page-search' %>
