<% content_for :meta_title, "Getting to Aviemore and the Cairngorms" %>
<% content_for :meta_description, "How to get to Aviemore and the Cairngorms National Park" %>
<div class="banner">
  <div class="header-text">
    <h1>Getting here</h1>
  </div>
</div>
<%= render 'shared/page-search' %>
