<div class="show-banner-cloudinary" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path('go-catered-crop.jpg') %>');">
  <div class="header-text">
    <h1>Go catered in your self-catered lodge?</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center">
        <h3>Fresh, local, quality food boxes, oven ready meals or fully catered private chef experience?</h3>
        <p><strong><em>“Highlands food is shining bright, with Scotland leading the charge for almost every major food trend.”</em> Conde Nast Traveller, April 2017.</strong></p>
      </div>
      <p>You may not have ventured to the Highlands just for the food, but this area of Scotland is making a name for itself as a food and drink destination. Why not make the most of our delicious local produce whilst you’re here, without even having to leave your handpicked lodge? Let someone else deal with the food shopping and prepping by ordering your own bespoke Highland food box or oven-ready meals for the start of your stay, or any time during your holiday. If you have something momentous to celebrate during your time in the Highlands, or just fancy a complete break from the kitchen, we can arrange your own personal chef to cater for you and your party. We have partnered with two very special Highland catering companies who use the freshest, locally grown, reared and crafted produce to create delicious meals – either cooked for you in your lodge kitchen, or delivered ready for you to pop in the oven.</p>
    </div>
  </div>
  <div class="white-card">
    <div class="row vertical-align">
      <div class="col-xs-12 col-md-4 text-center">
        <div class="link-card-cloudinary" style="background-image: url('<%= image_path('speyside-kitchen.jpg') %>');">
        </div>
      </div>
      <div class="col-xs-12 col-md-8">
        <p>Claire Mackenzie and Sarah Bromley are the founders of <a href="https://speysidekitchen.co.uk/", class="green-link", target="_blank">Speyside Kitchen</a>, who provide mouth-watering 100% fresh and handmade, oven-ready meals using local produce and suppliers. From their Scottish specialities such as Luxurious Speyside Fish Pie and Balmoral Chicken, to kitchen supper favourites like Lasagne and Mac’n’Cheese, their ready-prepared meals will make your self-catered break that bit easier! Prices start at £15pp for a main course, side and dessert. Alternatively they can deliver a variety of food boxes ready for your arrival or during your stay. Their BBQ box (£96 for 6 people) is a particular favourite, including local sausages, beef and venison burgers, as well as sides and salads. Claire and Sarah can also cater for special occasions with party food and their wonderful cakes. They will be happy to adapt their usual selections to your individual preferences or dietary needs. Take a look at their <a href="https://www.facebook.com/SpeysideKitchen/", class="green-link", target="_blank">Facebook page</a> for ideas, or speak to them about your requirements – they will be delighted to help you choose from their wide selection.</p>
      </div>
    </div>
  </div>
  <div class="white-card">
    <div class="row vertical-align">
      <div class="col-xs-12 col-md-8">
        <p>Greig Wilding of <a href="https://www.thehighlandkitchen.com/", class="green-link", target="_blank">The Highland Kitchen</a> is an extremely talented chef with vast experience of catering for both large and small groups. A champion of local producers, he has particular expertise in catering for special events at large houses in the Highlands and always goes above and beyond to create spectacular food and experiences that delight his clients. He can arrange anything from a one-off lunch, dinner or party, to a whole decadent week of delicious meals for a truly special celebration. Your lodge kitchen will be left as clean and tidy as the day you arrived, and waiter service can also be provided if required. As a guide price, his three course meal works out at around £65pp, and five courses £85pp. Visit his website for an idea of the wonders he can create in the kitchen and what his adoring clients have to say about Greig and his food! </p>
      </div>
      <div class="col-xs-12 col-md-4 text-center">
        <div class="link-card-cloudinary" style="background-image: url('<%= image_path('highland-kitchen.jpg') %>');">
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/page-search' %>
