<% content_for :meta_title, "Do you own a holiday home?" %>
<% content_for :meta_description, "Do you own a holiday home in Aviemore and the Cairngorms? Contact Handpicked Lodges for holiday home management and agency help." %>
<div class="banner">
  <div class="header-text">
    <h1>Own a property?</h1>
  </div>
</div>
<%= render 'shared/page-search' %>
