<% content_for :meta_title, "Pet friendly accommodation" %>
<% content_for :meta_description, "Things to do with your dog in Aviemore and the Cairngorms" %>
<div class="banner">
  <div class="header-text">
    <h1>Pet friendly</h1>
  </div>
</div>
<%= render 'shared/page-search' %>
