<div class="show-banner-cloudinary" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path('privacy-policy-small.jpg') %>');">
  <div class="header-text">
    <h1>HPL Privacy Policy</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h4><strong>1. Here at Handpicked Lodges we will:</strong></h4>
      <ul>
        <li>Collect only information relevant to your booking</li>
        <li>Hold all data securely</li>
        <li>Share only where you agree</li>
        <li>Use only where you agree</li>
      </ul>
      <p>Our privacy policy together with our Terms and Conditions sets out what information you provide to us and how that may be processed by us.</p>
      <h4><strong>2. What personal information will Handpicked Lodges collect:</strong></h4>
      <ul>
        <li>Information that you may provide through our contact form on our website</li>
        <li>Information that you may provide over the phone</li>
        <li>Information that you may provide via our online booking system</li>
        <li>Information that you may provide by letter or email</li>
        <li>Information that you may provide on our social media pages</li>
        <li>Information that you may provide on Airbnb</li>
        <li>Information that you may provide via other relevant agency or third party sites</li>
      </ul>
      <p>Records of correspondence will be kept securely</p>
      <h4><strong>3. Website analysis</strong></h4>
      <p>We may collect statistical data such as your IP address, operating system and browser type to gather information about how people use our site. We do not collect or store any personal information in our website analytics.</p>
      <p>This information can identify customer behaviour such as how long each page is visited and where a customer came from and went to as well as for showing you relevent marketing material.</p>
      <p>For this reason we may use cookies to obtain statistical data. You can refuse to allow cookies by activating the setting on your browser.</p>
      <p>Third parties such as Google may use cookies to serve ads based on a user's prior visit to Handpickedlodges.com</p>
      <h4><strong>4. How do we use your data:</strong></h4>
      <ul>
        <li>To confirm your booking</li>
        <li>To send information relevant to your booking</li>
        <li>To advise on changes or problems with your booking</li>
        <li>To send you marketing information via our newsletter</li>
        <li>To check everything is/was ok with your booking</li>
      </ul>
      <p>Our website has links to our partners and affiliates. If you follow a link to any of these websites please note that they will have their own Privacy Policy and we do not accept any liability or responsibility for these other sites.</p>
      <p>We do not sell or disclose your data to any third parties without your prior written consent.</p>
      <p>We do provide our lodge owners with the following details:</p>
      <ul>
        <li>Full name</li>
        <li>Arrival and departure date</li>
        <li>Booking date</li>
        <li>Booking price</li>
      </ul>
      <p>Where requested by owners we may also provide them with:</p>
      <ul>
        <li>Phone number</li>
        <li>Party information eg. dogs, how many adults etc</li>
      </ul>
      <h4><strong>5. Newsletter</strong></h4>
      <p>At the time of booking you have the option to subscribe or not to our newsletter.</p>
      <p>You will also be sent a further initial email to confirm that you do wish to be contacted in this way. </p>
      <p>There is an option to opt out of this subscription at the bottom of every newsletter.</p>
      <p>To receive our newsletter we only require your email address. This data will be retained on a secure database. If you opt out of the subscription it will be deleted.</p>
      <h4><strong>6. Airbnb, Agency and Third party sites</strong></h4>
      <p>If you provide any information via a third party/agency site, please note they have their own Privacy Policy, and Payment Service Provider. We do not accept any liability or responsibility for these site.</p>
      <h4><strong>7. Competitions</strong></h4>
      <p>From time to time we may run a competition either via our website, newsletter and/or social media. When you enter a competition we may collect your name, email address and postal address. This will be kept securely and will only be used in conjunction with the competition and deleted afterwards.</p>
      <h4><strong>8. Payment Service Provider</strong></h4>
      <p>All payments and security deposits are processed through Super Control, our booking system, which has its own Privacy Policy.</p>
      <p>The Payment Service Provider we use is Sage Pay who fully comply with the Payment Card Industry Data Security Standard (PCI DSS). Sage Pay is a fully approved Level 1 payment services provider – the highest level of compliance.</p>
      <p><strong>Handpicked Lodges does not hold any credit/debit card information or any other financial information provided by you.</strong></p>

      <h4><strong>9. Social Media</strong></h4>
      When you use social media to connect with us you are covered by their Privacy Policy and we do not accept any liability or responsibility for these other sites/apps.

      <h4><strong>10. Right of access</strong></h4>
      You can find out about any information we hold about you by making a ‘right of access’ request under the General Data Protection Regulations. If we hold any information about you we will

          Tell you why we hold it
          Tell you who it has been/will be disclosed to
          Let you have a copy of the information
    </div>
  </div>
  <br>
</div>
<%= render 'shared/page-search' %>
