<% content_for :meta_title, "Reviews of the lodges" %>
<% content_for :meta_description, "Reviews of the Handpicked Lodges" %>
<div class="banner">
  <div class="header-text">
    <h1>Reviews of our Lodges</h1>
    <p>You don't have to take our word for how fantastic our Handpicked Lodges are.</p>
    <p>Here's what some of our guests have to say</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <% @reviews.group_by(&:property).each do |property, reviews| %>
      <div class="col-xs-12">
        <div class="text-line before grey text-center">
          <h3><%= property.name if property %></h3>
        </div>
        <br>
      </div>
      <% reviews.each do |review| %>
        <div class="col-xs-12">
          <div class="white-card text-center">
            <p><em>"<%= review.content %>"</em></p>
            <p><%= review.date %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<%= render 'shared/page-search' %>
