<div class="banner">
  <div class="header-text">
    <h1>Reviews of our Lodges</h1>
    <p>You don't have to take our word for how fantastic our Handpicked Lodges are.</p>
    <p>Here's what some of our guests have to say</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <% @reviews.each_with_index do |review, index| %>
      <% unless index == 1 %>
        <div class="col-xs-12">
          <div class="text-line grey">
            <h3><%= review.property.name %></h3>
          </div>
        </div>
      <% end %>
      <div class="col-xs-12">
        <p><em>"<%= review.content %>"</em> <%= review.date %></p>
      </div>
    <% end %>
  </div>
</div>
<%= render 'shared/page-search' %>
