<div class="banner">
  <div class="header-text">
    <h1>Reviews of our Lodges</h1>
    <p>You don't have to take our word for how fantastic our Handpicked Lodges are.</p>
    <p>Here's what some of our guests have to say</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <% @reviews.each_with_index do |review, index| %>
      <h3><%= review.property.name unless index == 1 %></h3>
      <div class="col-xs-12">
        <p>"<%= review.content %>"</p>
      </div>
    <% end %>
  </div>
</div>
