<div class="show-banner-cloudinary" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path('privacy-policy-small.jpg') %>'); background-position: top;">
  <div class="header-text">
    <h1>Seasgair Sustainability</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h4><strong>Sustainability</strong></h4>
      <p>We love living and working in the Cairngorms, enjoying the mountains, lochs and forests. We want to preserve this precious environment and promote sustainability within both our business and everyday lives.</p>
      <p>We seek to make minimal impact through careful management of our actions. We use recycled products where possible, conserve energy and water use, ensure efficient local travel, reduce waste and recycle. We support the local economy, using services and suppliers with a similar ethos and contribute to local charity too.</p>
      <p>To demonstrate our commitment, each Seasgair lodge has recycling provision. We reduce plastic waste by refilling handwash bottles and are positive about the inclusion of eco friendly products during cleaning. Many of our lodges have wildlife feeders to support the natural environment, attracting native species including red squirrel and pine marten, alongside information for guests about the ecology of the area.</p>
      <h4><strong>Electric Vehicle Charging Stations</strong></h4>
      <p>Craigard Lodge has a 7kW ‘Type 2’ electric car charging point for guest use. Local electric vehicle charging stations can be found via the site below: <a href="http://www.chargeplacescotland.org" target="blank" class="green-link">www.chargeplacescotland.org</a></p>
      <h4><strong>Supported Charity</strong></h4>
      <p>Disability Snowsport UK. Seasgair donate £1.00 to Disability Snowsport UK from each guest booking. Staff also participate in fundraising events held throughout the year.</p>
      <h4><strong>Accessibility</strong></h4>
      <p>Each Seasgair lodge is unique and characterful, as such we hope that guests of varying ages and abilities can enjoy a stay with us. If you have any questions or would like to discuss specific requirements, please contact us. We will do our best to help and ensure that everything is in place for your arrival.</p>
      <p>Several lodges have downstairs bedrooms with en suite walk in showers, alongside spacious living areas.</p>
      <p>The ground floor of Alltnacriche is fully accessible for wheelchair users with no steps, wide doors and sufficient space around furniture:</p>
      <p>There is a single bedroom on the ground floor which is fully equipped with:</p>
      <ul>
        <li>ceiling hoist leading from bed into the bathroom</li>
        <li>electric bed which raises at the top and bottom with comfort mattress and optional side bars</li>
        <li>ensuite wet-room with Closomat toilet, large jacuzzi bath with low sides and seat for seated Shower</li>
      </ul>
      <p>Door sizes:</p>
      <ul>
        <li>Front door 90 cm</li>
        <li>Disabled access bedroom door 90 cm</li>
        <li>Door between disabled access bedroom and ensuite 110 cm</li>
      </ul>
      <h4><strong>Guest Reviews: Taken from Euans Guide </strong></h4>
      <p>We recently spent a wonderful long weekend at Altnacriche. Our party consisted of 2 families plus a night carer and 2 dogs. The lodge is very spacious , extremely well equipped yet warm and cosy. One of our children is a wheelchair user. The specially adapted ground floor suite and wet room was perfect for her needs and even had extra equipment such as hoist and shower chair the whole property (ground floor) was accessible so she was able to enjoy lots of space to play with her friends and siblings. We enjoyed the hot tub and the grounds are expansive with lovely river views. Overall a fantastic location for a family holiday and accessible for those with additional needs. We will definitely be back.</p>
      <p>A holiday lodge in a beautiful setting with disabled access that has really been thought through, and it hasn't lost charm or convenience. I would absolutely plan to visit again - not everything is accessible, but it makes a fantastic group holiday where a single person has accessibility needs.</p>
    </div>
  </div>
  <br>
</div>
<%= render 'shared/page-search' %>
