<% content_for :meta_title, "Handpicked Lodges Terms and Conditions" %>
<% content_for :meta_description, "Handpicked Lodges Terms and Conditions" %>
<div class="banner">
  <div class="header-text">
    <h1>Terms and Conditions</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="white-card text-center">
        <p><strong>Thank you for choosing to book your holiday home through Handpicked Lodges. We hope that you enjoy your stay. Please read the following Terms and Conditions that apply to your booking and set out the obligations between yourselves and the property's owner. If you have any queries please do let us know prior to booking.</strong></p>
        <br>
        <p><strong>Once you make your booking either by phone, email or via our online booking system a booking summary will automatically be sent out to you via email - this does not form a contract. A contract between yourself and the accommodation owner (not Handpicked Lodges) based on the following obligations shall only arise once you receive confirmation in writing from us via email.</strong></p>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12">
      <h4><strong>1. Availability</strong></h4>
      <p>This booking is made on the understanding that we will make the accommodation available to you on the dates selected. Should this not be possible due to events beyond our control we will offer you alternative dates or refund you accommodation rental, however you will have no other claim or remedy against us.</p>
      <h4><strong>2. Price</strong></h4>
      <p>This includes bed linen, and kitchen linen, towels, hot water, electricity, gas (where  applicable) and heating. If VAT is payable this is included in the price.</p>
      <h4><strong>3. Payment</strong></h4>
      <p>A non - refundable deposit of 25% is payable at the time of booking.</p>
      <p>The full non-refundable balance is due 8 weeks before your arrival date. If a booking is made less then 8 weeks in advance the full balance must be paid.</p>
      <p>Transfers to another lodge are prohibited. Unless we deem it uninhabitable due to any unforeseen circumstance or due to change in ownership, we will endeavour to find you alternative accommodation. If a suitable alternative cannot be found we will issue a refund at our discretion.</p>
      <h4><strong>4. Security Deposits</strong></h4>
      <p>Your card details will be retained at the time of booking and a hold will be placed on £300 the day before you arrive and will be released two business days after you leave unless any damage, misuse, extra cleaning or disruption has to be charged for. No payment will be taken without notifying you first. All details are held securely and in accordance with the General Data Protection Regulations.</p>
      <p>​Any misuse of a hot tub or sauna may incur extra cleaning/ maintenance charges.</p>
      <h4><strong>5. Cancellations</strong></h4>
      <p>By making your booking you enter into a legal contract and your deposit and full balance once it is paid is non-refundable.</p>
      <p>All cancellations must be notified in writing and received by Handpicked Lodges prior to conformation of cancellation charges. If you do not receive acknowledgement from Handpicked Lodges or receipt of your cancellation letter you must assume it has not been received.</p>
      <p>If the property becomes uninhabitable due to any unforeseen circumstance or due to change in ownership, we will endeavour to find you alternative accommodation. If a suitable alternative cannot be found we will issue a refund at our discretion.</p>
      <p>We strongly recommend you take out holiday insurance which includes cancellation expenses.</p>
      <h4><strong>6. Insurance</strong></h4>
      <p>We strongly advise you take out adequate holiday insurance which includes cancellation expenses.</p>
      <h4><strong>7. Occupancy</strong></h4>
      <p>Only those persons listed on the booking form may occupy the accommodation. If this condition is breached we reserve the right to terminate the contract immediately, without refund.</p>
      <p>Any unauthorised extension of stay will be charged at the full daily rate.</p>
      <p>Units may not be sublet.</p>
      <h4><strong>8. Check in/Check out</strong></h4>
      <p>On your arrival day you can be expected to enter from 4.00pm. On your departure day please ensure that you vacate prior to 10.00am.</p>
      <h4><strong>9. Late Arrivals</strong></h4>
      <p>Please let us know in advance if you will be arriving late or if you are delayed.</p>
      <h4><strong>10. Care</strong></h4>
      <p>Guests are asked to leave their accommodation and its contents clean and tidy when vacating. If excessive cleaning is required an extra cleaning charge will be levied. Please report any damage or breakages. Each lodge and its inventory is checked at every checkout and we reserve the right to charge a fee for damage, breakages or missing items.</p>
      <h4><strong>11. Pets</strong></h4>
      <p>We welcome pets into all of the lodges however in many lodges this is restricted to 2 adult animals. Animals must be healthy, fully house trained and kept under control at all times. You are advised to bring your pets bed and food bowls. Under no circumstances are pets allowed on the beds, bedding or furniture and should not be left unattended or allowed to annoy neighbours. All fouling should be cleaned up after you pet. Pets will be charged £25 per pet per stay.</p>
      <h4><strong>12. Responsibility</strong></h4>
      <p>All party members are responsible for adhering to the terms and conditions. We reserve the right, at our sole discretion, to remove any person(s) acting in a manner likely to be detrimental.</p>
      <h4><strong>13. Age Limits</strong></h4>
      <p>Bookings cannot be taken from anyone under the age of 18. At least one member of a party must be over the age of 18.</p>
      <h4><strong>14. Personal Effects</strong></h4>
      <p>We accept no responsibility for the loss or damage to any personal property of guests left in the accommodation. Vehicles, their accessories and contents are left at owners risk. We recommend that adequate insurance is acquired prior to arrival.</p>
      <p>Postage and packaging to return any forgotten belonging will be charged. Any property not claimed within a month of your departure will be disposed of.</p>
      <h4><strong>15. Accidents</strong></h4>
      <p>We accept no responsibility for any injury or death however caused. All guests are advised to have adequate property and personal insurance in place prior to arrival.</p>
      <h4><strong>16. Noise</strong></h4>
      <p>Please consider any neighbours you may have and do not cause excessive noise disturbance at any time, especially between the hours of 11:00pm and 8:00am.</p>
      <h4><strong>17. Accommodation</strong></h4>
      <p>If for any reason you deem your accommodation or any part of it to be unsatisfactory please notify Handpicked Lodges immediately so that appropriate action can be taken. We will not accept subsequent claims not so notified.</p>
      <h4><strong>18. Delays and Adverse Weather</strong></h4>
      <p>No liability is accepted should external factors and/or adverse weather conditions cause delay or cancellation of your holiday. We recommend that adequate travel insurance is taken out prior to arrival.</p>
      <h4><strong>19. Facilities</strong></h4>
      <p>Facilities are reserved strictly for the use of the parties listed on the booking. Guest’s visitors may only use the facilities with prior approval from the owner or property managers.</p>
      <p>If a situation arises over which the owner or their property managers have no control it may be necessary to alter or remove facilities without prior notification. No compensation will be paid in such instances. Facilities may be withdrawn as a result of misuse or failure to comply with the rules and procedures.</p>
      <h4><strong>20. Rent Act</strong></h4>
      <p>The booking agreement confers a right to occupy the accommodation for the period agreed for holiday purposes only. Therefore the terms of the Rent Act are excluded.</p>
      <h4><strong>21. Smoking</strong></h4>
      <p>Smoking is not permitted in any of the lodges.</p>
      <h4><strong>22. Access</strong></h4>
      <p>The owners and their property managers reserve the right to enter the property at any time without prior notice.</p>
      <h4><strong>23. Customer Service</strong></h4>
      <p>Please notify Handpicked lodges immediately if something is not working so that we can put it right for you. Please do not wait until the end of your stay.</p>
      <h4><strong>24. Privacy Policy</strong></h4>
      <p>All data is collected and stored in accordance with the General Data Protection Regulation. For more information on our Privacy Policy please <%= link_to 'click here', pages_privacy_policy_path, target: :_blank, class: "green-link" %>.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="white-card text-center">
        <h3><strong>Thank you for choosing to stay in one of our Handpicked Lodges, we hope you enjoy your holiday.</strong></h3>
      </div>
    </div>
  </div>
  <br>
</div>
<%= render 'shared/page-search' %>
