.banner {
  height: 50vh;
  background-image: linear-gradient(90deg, rgba(0,0,0,0.4), rgba(0,0,0,0.3)), asset-url('cedar-lodge.jpg');
  background-position: center center;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.show-banner {
  height: 50vh;
  background-image: linear-gradient(90deg, rgba(0,0,0,0.4), rgba(0,0,0,0.3)), asset-url('cedar-lodge.jpg');
  background-position: center center;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.show-banner-cloudinary {
  height: 50vh;
  background-position: center center;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
// .test-container {
//   width: 500px;
//   display: block;
//   margin: 0 auto;
// }
.slick-slide{
  margin:10px;
}
.slick-slide img{
  width:100%;
  border: 2px solid #fff;
}
.slick-track {
  width: 500px !important;
}
.nav-container {
  width: 500px;
  // display: inline;
  // margin: 0 auto;
}
.home {
  height: 88vh;
}
.header-text {
  color: white;
  h1 {
    text-transform: uppercase;
    color: white;
  }
  p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 720px) {
  .header-text {
    h1 {
      font-size: 40px;
    }
  }
}
.grey-header-text {
  background-color: $green;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  color: white;
  padding: 5px 10px 5px 10px;
  margin-top: 20px;
  h1 {
    font-size: 1.8em;
    text-transform: uppercase;
    color: white;
  }
  p {
    font-size: 1em;
  }
}

