.link-card-container {
  // transition: all .2s ease-in-out;
  color: $black;
  // position: relative;
  margin: 0 auto;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  margin-bottom: 20px;
  text-decoration: none;
  a {
    color: $black;
  }
  p:last-child {
    margin-bottom: 0;
  }
}
.link-card-container:hover {
  a {
    text-decoration: none;
  }
}
.link-card {
  transition: all .2s ease-in-out;
  color: $black;
  background-image: asset-url('cedar-lodge.jpg');
  background-size: cover !important;
  background-position: center;
  height: 250px;
  // justify-content: center;
  // position: relative;
  margin: 0 auto;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  // margin-bottom: 20px;
}
.link-card-cloudinary {
  transition: all .2s ease-in-out;
  color: $black;
  background-size: cover !important;
  background-position: center;
  height: 250px;
  // justify-content: center;
  // position: relative;
  margin: 0 auto;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  // margin-bottom: 20px;
}
.image-margin {
  margin-bottom: 15px;
}
.double-height {
  height: 600px;
}
.link-card-content {
  // height: 26%;
  width: 100%;
  background-color: white;
  // position: absolute;
  // bottom: 0px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  h4 {
    margin: 0;
  }
}
.index-card {
  transition: all .2s ease-in-out;
  // height: 450px;
  // max-width: 350px;
  justify-content: center;
  // position: relative;
  margin: 0 auto;
  margin-bottom: 30px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  overflow: hidden;
}
.index-card-desk {
  transition: all .2s ease-in-out;
  background-color: white;
  // height: 450px;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  margin-bottom: 30px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  overflow: hidden;
}
.index-card-desk:hover {
  a {
    text-decoration: none;
  }
  .green-back {
    background-color: #639A9D;
  }
}
.index-card-img {
  background-image: asset-url('cedar-lodge.jpg');
  background-size: cover !important;
  background-position: center;
  height: 300px;
  max-width: 350px;
  justify-content: center;
}
.index-card-img-carousel {
  background-size: cover !important;
  background-position: center;
  height: 275px;
  min-width: 300px;
  justify-content: center;
}
.index-card-img-carousel-desk {
  background-size: cover !important;
  background-position: center;
  height: 275px;
  min-width: 300px;
  justify-content: center;
}
.carousel {
  width: 100%;
}
.carousel-inner > .next,
.carousel-inner > .prev {
    position: absolute;
    top: 50px;
    width: 100%;
}
.carousel-inner .item {
  height: 275px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
.carousel-inner .item img {
  // margin: 0 auto; /* Align slide image horizontally center */
  // width: 100%;
  // height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 275px;
  width: auto;
}
.index-card-content {
  width: 100%;
  background-color: white;
  padding: 10px;
  // position: absolute;
  // bottom: 10%;
  color: $black;
  h4 {
    margin: 0;
  }
  h6 {
    color: $green;
    font-weight: bold;
  }
  p {
    margin: 0;
    font-size: 16px;
  }
}
.index-card-content-desk {
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 10px;
  position: relative;
  // bottom: 10%;
  color: $black;
  h4 {
    margin: 0;
  }
  h6 {
    color: $green;
    font-weight: bold;
  }
  p {
    margin: 0;
    font-size: 16px;
  }
}
.index-card-attributes p {
  font-size: 14px;
}
.index-card-btn-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
}
.index-card-btn-container:hover {
  a {
    text-decoration: none;
  }
}
.desk {
  margin-left: -10px;
  position: absolute;
  bottom: 0;
}

.index-card-btn {
  margin: auto;
  height: 45px;
  // min-width: 180px;
  color: white;
  font-size: 18px;
  font-weight: bolder;
  transition: color 0.3s ease;
  transition: 0.3s;
  text-align: center;
  padding-top: 10px;
  cursor: pointer;
}
.description-text {
  display: none;
}
.description-text.active {
  height: 100%;
}

.red-back {
  background-color: $red;
  background-size: cover;
  width: 50%;
}
.green-back {
  background-color: $green;
  background-size: cover;
  width: 100%;
}
.green-back:hover {
  background-color: #639A9D;
}
.red-back:hover {
  background-color: #FF2604;
}
