.main-container {
  display: flex;
}
.content-container {
  flex: 1;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background-color: white;
  margin-bottom: 20px;
}
.index-content-container {
  flex: 1;
  margin-right: 20px;
}
.tab-padding {
  padding: 10px;
}
#description {
  padding: 0 10px;
}
.sidebar-container-right {
  background-color: white;
  padding: 10px;
  flex: 0 0 450px;
  position: sticky;
  top: 120px !important;
  overflow: hidden;
}
#properties-sidebar {
  margin-bottom: 20px;
}
@media screen and (min-width: 800px) {
  #properties-sidebar {
    position: sticky;
    top: 110px;
  }
}
.properties-sidebar-content {
  background-color: $gray;
  padding: 10px 20px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  color: white;
}
.form-spacing {
  padding: 0px;
}
.tall {
  // height: 250vh;
}
