


.content-container {
  flex: 1;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background-color: white;
  margin-bottom: 20px;
}
// .index-content-container {
//   flex: 1;
//   margin-right: 20px;
// }
.tab-padding {
  padding: 10px;
}
#description {
  padding: 0 10px 10px 10px;
}
@media screen and (max-width: 800px) {
  .nav-justified > li > a {
    margin-bottom: 0px !important;
  }
  .nav-pills > li {
    margin-left: 0px !important;
  }
}
.sidebar-container-right {
  background-color: white;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  padding: 0 10px 10px 10px;
  flex: 0 0 450px;
  position: sticky;
  top: 120px !important;
  overflow: hidden;
}
#properties-sidebar {
  margin-bottom: 20px;
}
@media screen and (min-width: 1000px) {
  #properties-sidebar {
    position: sticky;
    top: 120px;
  }
  .main-container {
    display: flex;
  }
}
.properties-sidebar-content {
  padding: 10px 20px;
  color: $black;
  background-color: white;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
}
.form-spacing {
  padding: 0px;
}
.tall {
  // height: 250vh;
}
.color-background {
  background-color: white;
  margin-bottom: 20px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
}
.green-header {
  background-color: $green;
  color: white;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  padding: 10px;
  h4 {
    margin: 0px;
  }
  h5 {
    margin: 0px;
  }
}
.sidebar-header-height {
  height: 42.85px;
}
