.handpicked-footer {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: $mid-gray;
  padding: 10px 50px 20px 50px;
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  p, a {
    font-size: 16px;
    color: white;
    line-height: 1em;
    transition: color 0.3s ease;
  }
  a:hover {
    color: $green;
    text-decoration: none;
  }
  h5 {
    color: white;
    position: relative;
    overflow: hidden;
  }
  h5:after {
    content:"";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid white;
  }
}
@media only screen and (min-width: 720px) {
  .handpicked-footer-top {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .handpicked-footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.handpicked-footer-image img {
  max-width: 125px;
  padding-bottom: 20px;
}
.footer-image-pad {
  padding: 0px 10px;
}
.footer-icons {
  a {
    font-size: 1.5em;
    padding-left: 5px;
  }
}
.handpicked-footer-links {
  background: $mid-gray;
  padding: 10px 0px;
}
.footer-space {
  margin-top: 20px;
}
