.white-link {
  color: white;
  a {
    color: white;
  }
}
.white-link:hover {
  color: white;
}
.green-link {
  color: $green;
  transition: color 0.3s ease;
  font-weight: bold;
}
.green-link:hover {
  color: #639A9D;
}

