/* Main navbar */
.navbar {
  margin-bottom: 0px;
}
#handpicked-navbar {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  padding: 0px 30px;
  // height: 100px;
  width: auto;
  // display: flex;
  align-items: center;
  // justify-content: space-between;
  top: 0;
  position: sticky;
  z-index: 20;
}

@media (max-width: 1000px) {
  #handpicked-navbar {
    height: 70px;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    position: sticky;
    z-index: 100;
  }
  #handpicked-navbar-brand-small img {
    max-height: 50px;
    transition: all 0.3s;
  }
}

/* Logo */
#handpicked-navbar-brand img {
  max-height: 100px;
  transition: all 0.4s ease;
}

.largeLogo img {
  height: 100px;
}
.smallLogo img {
  height: 70px;
}

/* Right section */
.handpicked-navbar-center {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.handpicked-navbar-left {
  display: flex;
  width: 400px;
}
.handpicked-navbar-right {
  display: flex;
  justify-content: right;
}
/* Basic navbar item */
.handpicked-navbar-item {
  cursor: pointer;
  padding: 0 20px;
  margin: auto 0;
}

.handpicked-navbar-item-mobile {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.handpicked-navbar-link {
  color: $black;
  font-size: 16px;
  font-weight: lighter;
  transition: color 0.3s ease;
}
.handpicked-navbar-link:hover {
  color: $green;
  text-decoration: none;
}
.info-hover {
  p {
    color: $black;
    font-size: 16px;
    font-weight: lighter;
    margin: 0;
    transition: color 0.3s ease;
  }
  p:hover {
    color: $green
  }
}
/* Dropdown menu */
.handpicked-navbar-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
  li > a {
    transition: color 0.3s ease;
    font-weight: lighter !important;
    color: #999999 !important;
    font-size: 16px !important;
    line-height: 22px !important;
    padding: 10px 20px;
  }
  li > a:hover {
    background: transparent !important;
    color: $green !important;
  }
}
.handpicked-navbar-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
.dropdown-menu {
  float: right;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu .dropdown-menu {
  top: 0;
  right: 100%;
  margin-top: -100px;
}
