.text-line {
  h3 {
    color: white;
    position: relative;
    overflow: hidden;
  }
  h3:after {
    content:"";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid white;
  }
}
.text-line.before {
    h3:before {
    content:"";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100%;
    margin-left: -100%;
    margin-right: 10px;
    border-top: 1px solid white;
  }
}
.text-line.grey {
  h3 {
    color: $mid-gray;
  }
  h3:before {
    border-top: 1px solid $mid-gray;
  }
  h3:after {
    border-top: 1px solid $mid-gray;
  }
}
.gray-hr {
  border-color: $mid-gray;
  border-width: 1px;
}
@media (min-width: 1024px) {
  .row.vertical-align {
      display: flex;
      align-items: center;
  }
}
