<div class="container">
  <h1>Create a new lodge</h1>
  <div class="white-card text-center">
    <h3>A note on creating properties</h3>
    <h4>Keep the lodge disabled until you have completed entering all relevant details. You can always save a draft and come back. When ready, enable the property to make it live on your website.</h4>
    <h4>Please note: you will need to create a property record first (just enter the basic details and submit) before you will be able to add any features or photos</h4>
  </div>
  <%= render 'property_form' %>
</div>
